/*Css Resets Start*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,img {
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
  font-style: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: 400;
}

q:before,q:after {
  content: '';
}

abbr,acronym {
  border: 0;
  font-variant: normal;
}

legend {
  color: #000;
}

input,button,textarea,select,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,button,textarea,select {
  font-size: 100%;
}

body {
  border: 0 none;
  font-family: Arial;
}

/*Css Resets End*/

/*Our Styles*/

html {
  color: #000;
  background: #fff;
  background-color: #eee;
  font-size: 12px;
}

#wrapper {
  width: 1000px;
  /*
    1 > all
    2 > tb lr
    3 > t lr b
    4 > t l b r
  */
  margin: 30px auto;
}

#header {

}

a:link,a:visited {
  color: #3b5998;
  text-decoration: none;
}

#logo {

float: left;margin-right: 15px;}

#logo a {

display: block;background: transparent url(search.jpg) no-repeat top left;width: 154px;height: 32px;}

#logo span {

display: none;}

#searchBox {

width: 325px;height: 30px;font-size: 18px;margin: 0 15px;border-radius: 5px;background-clip: padding-box;outline: none;border: 2px solid #aaa;padding: 1px 5px;}

#searchBox:focus {

border: 2px solid #12B1CC;
-webkit-box-shadow: 0px 2px 10px -2px #0A5A68;
          box-shadow: 0px 2px 10px -2px #0A5A68;
}

#searchTermKeyword {
  font-family: 'Reenie Beanie', Arial, serif;
  font-size: 30px;
  font-weight: bold;
}

#box{
  padding-bottom: -10px;
  padding-left: 950px;
}


div.right{
  width:20%;
  padding: 0 5% 0 0;
  float: left;
}
